src/plasmid_caller/db/ref_seqs/wp_v3.fna filter=lfs diff=lfs merge=lfs -text
new_db/old/ref_seqs/wp_v2_db.json filter=lfs diff=lfs merge=lfs -text
src/plasmid_caller/db/old/ref_seqs/wp_v2_db.json filter=lfs diff=lfs merge=lfs -text
